* {
    font-family: sans-serif;
    font-size: 13px;
}
window#waybar {
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}
#workspaces button {
    padding: 0 5px;
    color: #ffffff;
}
#workspaces button.active {
    color: #33ccff;
}
#cpu, #memory, #battery, #clock {
    padding: 0 10px;
}
